@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    /* outline: 1px solid royalblue; */
}

body {
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 232, 209);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    text-align: center;
    margin-top: 10px;
    color: grey;
}

.liquid {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(180, 119, 44);
    outline: none;
}

form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(180, 119, 44);
    background-color: rgb(255, 249, 216);
    box-shadow: -5px 8px 0 0 #37373720;  
    color: black;
    cursor: pointer;
}

input#exam-title {
    margin: 15px 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    background-color: transparent;
    border: none;
    width: fit-content;
}

input#exam-title:focus {
    outline: 3px solid rgb(180, 119, 44);
}

div.question-list {
    height: 100vh;
    width: 400px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow-y: scroll;
}

div.question-list div.question-item:not(:last-of-type) {
    width: 95%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -5px 8px 0 0 #37373720;
    cursor: pointer;
}

div.question-list div.question-item:last-of-type {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -5px 8px 0 0 #37373720;
    background-color: rgb(255, 249, 216);
    border: 1px dashed rgb(180, 119, 44);
    cursor: pointer;
}

div.title-card {
    width: calc(100% - 445px);
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: -5px 8px 0 0 #37373720;
    display: flex;
}

div.title-card h3 {
    flex: 9;
}

div#mode-selector {
    flex: 1;
    float: right;
    width: 200px;
    display: flex;
}

div#mode-selector button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border-radius: 15px;
    box-shadow: -5px 8px 0 0 #37373720;  
    color: black;
    cursor: pointer;
}

div.question-editor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100vw - 400px);
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

div.question-editor .stimulus-editor {
    flex: 1;
    margin-right: 10px;
    border-radius: 25px;
}

div.question-editor .stimulus-editor textarea {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    background: transparent;
    font-family: 'IBM Plex Mono', monospace;
}

div.question-editor .options-editor {
    flex: 1;
    margin-left: 10px;
    border-radius: 25px;
}

div.question-editor .options-editor textarea {
    display: block;
    margin: 10px auto 25px auto;
    padding: 10px;
    width: 95%;
    border-radius: 15px;
    outline: none;
    box-shadow: -5px 8px 0 0 #37373720;
    resize: none;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}

div.question-editor .options-editor textarea:first-of-type {
    height: 100px;
    font-weight: 600;
}

div.question-editor .options-editor textarea:not(:first-of-type) {
    height: 50px;
}