@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* --bg-color: rgb(230, 217, 184);
    --card-bg-color: rgb(255, 249, 216);
    --border-color: rgb(180, 119, 44);
    --shadow-color: #37373720;
    --hover-preview-color: rgb(200, 255, 200);
    --hover-delete-color: rgb(255, 200, 200); */

    --bg-color: rgb(15, 11, 0);
    --text-color: rgb(255, 249, 216);
    --card-bg-color: rgb(46, 39, 0);
    --border-color: rgb(180, 119, 44);
    --shadow-color: #52525220;
    --hover-preview-color: rgb(0, 80, 0);
    --hover-delete-color: rgb(56, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    /* outline: 1px solid royalblue; */
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

a {
    display: block;
    height: 120px;
    width: 450px;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 5px solid var(--border-color);
    background-color: var(--card-bg-color);
    color: var(--text-color);
    text-decoration: none;
    /* solid offset box shadow */
    box-shadow: -15px 20px 0 0 var(--shadow-color);  
    cursor: pointer;
}

a:hover {
    background-color: var(--hover-preview-color);
}

h1 {
    margin-right: 100px
}

h3 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    margin-top: 10px;
    color: grey;
}

form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--card-bg-color);
}

form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg-color);
    box-shadow: -5px 8px 0 0 var(--shadow-color);  
    color: var(--text-color);
    cursor: pointer;
}

h2 {
    margin: 20px 20px;
}

div#exam-grid {
    position: absolute;
    width: 100vw;
    height: 80vh;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

div#exam-grid div.exam-card {
    background-color: var(--card-bg-color);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    box-shadow: -10px 15px 0 0 var(--shadow-color);  
    padding: 10px;
    cursor: pointer;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}