<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <h2>Create an Exam</h2>

    <div id="exam-grid">
        <a href="/exam/create">
             <div id="new-exam" class="exam-card">
                <h3>Create new exam</h3>
            </div>
        </a>
        <div class="exam-card">
            <h3>Exam 1</h3>
            <p>1/6/2026</p>
            <span>26</span>
            <div class="options">
                <button class="preview">Preview</button>
                <button class="delete">Delete</button>
            </div>
        </div>
        <div class="exam-card">
            <h3>Exam 2</h3>
            <p>5/6/2024</p>
            <span>34</span>
            <div class="options">
                <button class="preview">Preview</button>
                <button class="delete">Delete</button>
            </div>
        </div>
    </div>
</body>
</html>