<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <script src="/static/js/script.js" defer></script>
    <script src="/static/js/dashboard.js" defer></script>
</head>
<body>
    <h2>Create an Exam</h2>

    <div id="exam-grid">
        <a href="/exam/create">
             <div id="new-exam" class="exam-card">
                <h3>Create new exam</h3>
            </div>
        </a>
        {% for exam in exams %}
        <a href="/exam/{{ exam[0] }}/edit">
            <div class="exam-card" data-exam-id="{{ exam[0] }}">
                <h3>{{ exam[1] }}</h3>
                <p>{{ exam[2] }}</p>
                <span>{{ exam_lengths[loop.index0] }}</span>
                <div class="options">
                    <button class="preview">Preview</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>