<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProblemDB</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <h1>ProblemDB</h1>

    <div>
        <a href="signin">
            <h3>Sign in</h3>
            <p>to create yo practice problems</p>
        </a>
        <a href="signup">
            <h3>Create an account</h3>
            <p>let's get started?</p>
        </a>
    </div>
</body>
</html>